@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
* {
  margin: 0px;
  padding: 0px;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.header {
  height: 80px;
  width: 100%;
  border: 1.4px solid black;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: white;
}
.tamilletter {
  margin-left: 50px;
  background: linear-gradient(to right, #d2691e, #0000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navlist {
  display: flex;
  gap: 30px;
  margin-left: 65%;
}
.navlist a {
  text-decoration: none;
  color: black;
}
.navlist li {
  list-style: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.herosec {
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.herocont {
  height: 450px;
  width: 50%;
}
.herocont p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.heroimg {
  margin-top: 60px;
  height: 430px;
  width: 23%;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.346);
  position: relative;
  transform: rotate(5deg);
  transition: transform 0.5s;
}

.myimg {
  height: 300px;
  width: 100%;
  background-color: rgb(186, 186, 186);
  margin: 50px 20px 0 20px;
}
.myimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.childimg {
  height: 120px;
  width: 120px;
  background-color: rgb(252, 182, 132);
  position: absolute;
  top: -50px;
  left: -50px;
  transform: rotate(-10deg);
  clip-path: polygon(0px 0px, 120px 0px, 120px 100px, 100px 120px, 0px 120px);
   font-family: 'Patrick Hand', cursive;
}
.childimg p{
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}
.childimg span{
  font-weight: bold;

}

.heroimg:hover {
  transform: rotate(0deg);
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 32 32'%3E%3C!-- Icon from Fluent UI System Icons by Microsoft Corporation - https://github.com/microsoft/fluentui-system-icons/blob/main/LICENSE --%3E%3Cpathfill='chocolate' d='M9.391 2.32C8.42 1.56 7 2.253 7 3.486V28.41c0 1.538 1.966 2.18 2.874.938l6.225-8.523a2 2 0 0 1 1.615-.82h9.69c1.512 0 2.17-1.912.978-2.844z'/%3E%3C/svg%3E"),
    pointer;
}

.herocont h1 {
  font-size: 50px;
  margin-left: 20px;
  margin-top: 100px;
}
.name {
  color: chocolate;
}
.herocont p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 22px;
}
.highlight {
  font-weight: bold;
}
.status {
  font-size: 20px;
}

.btns {
  margin-left: 20px;
  margin-top: 25px;
  display: flex;
  gap: 55px;
}
.btns button:hover {
  cursor: pointer;
  animation: move 1s;
}
@keyframes move {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10px);
  }
}
.btn1 {
  padding: 12px 40px;
  font-size: 17px;
  font-weight: bold;
  border-style: none;
  border: 1.5px solid blue;
  color: white;
  background-color: blue;
  box-shadow: 5px 5px chocolate;
}
.btn2 {
  padding: 12px 40px;
  font-size: 17px;
  font-weight: bold;
  border-style: none;
  border: 1.5px solid blue;
  color: blue;
  box-shadow: 5px 5px chocolate;
}

.skillset {
  height: 200px;
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
}
.skillset div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.skillset h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.icon {
  height: 80px;
  width: 80px;
  animation: moveLeft 3s linear infinite;
}
@keyframes moveLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.icon img {
  height: 100%;
  width: 100%;
}

.footer {
  height: 350px;
  width: 100%;
  border: 1.5px solid black;
  background-color: rgb(239, 239, 255);
}
.footerbox {
  display: flex;
}
.signaturebox {
  height: 200px;
  width: 300px;
  margin-top: 90px;
  margin-left: 140px;
}
.signaturebox img {
  height: 100%;
  width: 100%;
  background-color: rgb(239, 239, 255);
}
.fcontent {
  margin-top: 70px;
  margin-left: 50px;
}
.fcontent h1 {
  font-size: 50px;
  font-weight: 700;
}
.fcontent p {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contact {
  display: flex;
  gap: 60px;
  margin-top: -64px;
  margin-left: 50px;
}
.contact div h3 {
  font-size: 22px;
  font-weight: 350;
}
.contact div a {
  text-decoration: none;
}
.media {
  height: 40px;
  width: 300px;
  margin-left: 220px;
  display: flex;
  justify-content: space-between;
}
.media div {
  height: 40px;
  width: 40px;
  box-shadow: -3px 4px chocolate;
  border-radius: 10px;
}
.media div:hover {
  cursor: pointer;
}
.media div img {
  height: 100%;
  width: 100%;
}
.sec1 {
  height: 100px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.sec1 h2 {
  margin-top: 50px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.sec1 p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 21px;
}
.sec1 span {
  font-weight: 500;
}
.cards {
  height: 400px;
  width: 1200px;
  border: 1.5px solid black;
  margin: 50px auto;
  box-shadow: -8px 8px chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.cardcnt {
  height: 350px;
  width: 700px;
  border: 1px solid black;
}
.cardcnt h2 {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.cardcnt p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.cardcnt button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: -3px 3px chocolate;
  border: 1.5px solid blue;
}
.cardimg {
  height: 350px;
  width: 400px;
  border: 1px solid black;
}
.cardimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cards:hover {
  cursor: pointer;
  animation: shake 0.4s;
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-20px);
  }
}
.cardcnt button:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
